{% load book_extras %}
{% load static %}
<link rel="stylesheet" href={% static "book/main.css" %}>

<div class="book-card">
    <div class = "book-img">
        <img src={{result.formats | get_key:"image/jpeg"}} alt="book pic"/>
    </div>
    <div class = "book-title">
        <p>Title: {{result.title}}</p>
    </div>
    <div class = "book-author">
        <p>Author: {{result.authors.0.name}}</p>
    </div>
    <div class = "book-text">
        <p>Read Online: {{result.formats | get_readable}}</p>
    </div>
    <div class = "book-controls">
        <button onclick = "window.location.href='/books/add/{{result.id}}'">Provide a Copy</button>
    </div>
</div>