{% load book_extras %}

<div class="book-card">

  <div class = "left-column">
    <div class="book-img">
      {% with book_cover=result.formats|get_key:"image/jpeg"%}
      {% if book_cover %}
      <img src="{{book_cover}}" alt="book pic" />
      {% else %}
      <img src="/media/imgs/placeholder.jpg" alt="placeholder" />
      {% endif %}
      {% endwith %}
    </div>
  </div>

  <div class = "right-column">

    <div class = "right-header">
      <div class="book-title">
        <p>{{result.title}}</p>
      </div>

      <div class="book-author">
        {% if result.authors %}
        <p>{{result.authors.0.name}}</p>
        {% elif result.translators%}
        <p>{{result.translators.0.name}}</p>
        {% endif%}
      </div>
    </div>

    <div class = "right-body">
      {% comment %} <p>Copies Available: {{book.copies_available}}</p> {% endcomment %}
    </div>

    <div class = "right-footer">
      <div class="book-buttons-wrapper">
        <ul class="book-buttons-list">
          <li>
            <button onclick = "window.location.href='/books/add/{{result.id}}'">Provide a Copy</button>
          </li>
        </ul>
      </div>

    </div>

  </div>
</div>
