{% comment %} CITATION -
https://stackoverflow.com/questions/340888/navigation-in-django {% endcomment %}
{% load notification_extras %}
{% load static %} <link rel="stylesheet" href={% static "book/main.css" %}>

<div class="nav-wrapper">
  <nav class="nav-bar">
    <ul class="nav-list">
      <li><a href="/">Home</a></li>
      <li><a href="/all_books/">Catalouge</a></li>
      <li><a href="/books/add/">Donate</a></li>
      {% with new_notification=request.user.notifications_set|get_exclamation %}
      {% if not request.user.is_authenticated %}
      <li><a href="/login_view/">Login</a></li>
      <li><a href="/sign_up_view/">Sign Up</a></li>
      {% elif request.user.is_authenticated %} 
      <li><a href="/profile/{{request.user.id}}">Profile</a></li>
      <li><a href="/logout_view">Logout</a></li>
      {% if new_notification%}
      <li><a href="/notifications/{{request.user.id}}">Notifications (*)</a></li>
      {% else %}
      <li><a href="/nonots">Notifications</a></li>
      {% endif %}
      {% endif %}
      {% endwith %}
    </ul>
  </nav>
</div>
