{% comment %} CITATION -
https://stackoverflow.com/questions/340888/navigation-in-django {% endcomment %}
{% load static %} <link rel="stylesheet" href={% static "book/main.css" %}>

<div class="nav-wrapper">
  <nav class="nav-bar">
    <ul class="nav-list">
      <li><a href="/">Home</a></li>
      <li><a href="/all_books/">Catalouge</a></li>
      <li><a href="/books/add/">Donate</a></li>
      {% if not request.user.is_authenticated %}
      <li><a href="/login_view/">Login</a></li>
      <li><a href="/sign_up_view/">Sign Up</a></li>
      {% elif request.user.is_authenticated %} {% comment %}
      <li><a href="/notifications/{{user.id}}">Notifications</a></li>
      {% endcomment %} {% comment %}
      <li><a href="/users/{{user.id}}">Profile</a></li>
      {% endcomment %}
      <li><a href="/logout_view">Logout</a></li>
      {% endif %}
    </ul>
  </nav>
</div>
