{% extends "base.html" %}
<!-- Added Template Extending to this page -->
{% block content%}
{% block profile_card %}
<ul>
  <li>username: {{profiles.username}}</li>
  <li>Card Number: {{profiles.library_card_number}}</li>
  {% if profiles.checked_out_books.all %}
  <li>Checked Out Books: {{profiles.checked_out_books.all}}</li>
  {% endif%}
</ul>
{% endblock %}

{% if profiles.checked_out_books.all %}
<h2>Checked Out Books</h2>
{% for book in profiles.checked_out_books.all %}
{% comment %} TODO: Replace with Consistent Book Card {% endcomment %}
  {% include "book/book_detail_card.html" with book=book %}
{% endfor %}
{% endif%}

{% if profiles.id == request.user.id %}
<button onclick = "window.location.href='/edit/{{request.user.id}}'">
  Edit Account Information
</button>
<a href="/delete_user/{{profiles.pk}}">Delete Account</a>
{% endif %}
{% endblock %}
